* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.outerbox {
  border: 2px solid black;
  background-color: #3075ec;
  color: white;
  width: 500px;
  height: 500px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-flow: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > h4 {
  margin: 5px;
  font-size: 20px;
}
.trcimage {
  width: 35px;
}
.maincontent {
  background-color: rgb(238, 237, 215);
  flex-grow: 1;
  border-radius: 5px 5px 0 0;
}
.topbtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#fontwidth{
  width: 80px;
  background-color: #fff;
  border-bottom: none;
}
.buttons {
  border-radius: 3px 3px 0 0;
  font-size: 15px;
  padding: 5px;
  margin-left: 1px;
  border: 1px solid grey;
}
.workoutarea {
  background-color: rgb(255, 255, 255);
  width: 98%;
  border-radius: 5px 5px 0 0;
  margin-left: 5px;
  padding: 5px;
  border-left: 1px solid black;
  /* border: 5px 4px 3px 2px solid black; */
  /* box-shadow: 2px pink; */
  box-shadow: 2px 3px rgb(187, 181, 181);
}
.start1{
  display: flex;
  justify-content: space-between;
}
.start2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.start3{
  margin-top: 10px;
  display: flex;
}
.start3>.effect{
  width: 50%;
}
label {
  color: #000;
}
.cmmn {
  display: flex;
  flex-direction: column;
}
.cmmn > input {
  flex: 1;
}
select{
  margin-top: 5px;
}
.one{
  width: 40%;
}
.two {
  width: 30%;
}
.three {
  width: 20%;
}
.one>select{
  width: 185px;
}
legend {
  color: black;
}
#preview {
  color: black;
  width: 50%;
  display: flex;
  justify-content: center;
}
#preview > fieldset {
  width: 100%;
  height: 91px; 
  border-radius: 5px;
}
#preview1 {
  margin: 2px;
  border: 2px solid black;
  text-align: center;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  padding: 2px;
  font-size: 15px;
}
.effect > fieldset {
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  height: 90px;
}
legend{
  color: rgb(92, 65, 240);
}
#color {
  width: 130px;
}
#normalfont {
  padding: 5px;
  margin-top: 15px;
}
#preview1 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
#preview1:before, #preview1:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
#preview1:before {
  margin-right: 10px
}
#preview1:after {
  margin-left: 10px
}
#color1{
  margin-left: 15px;
} 
#color1>select{
  width: 140px;
}
#lstwrd {
  color: #000;
  margin: 20px 0 10px 0;
}
.lstbtns {
  width: 90px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
}
.lstbtns1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid black; */
}